@import "variables";
@import "footer";
@import "nav";
@import "operators";
@import "mediaqueries";
@import "pages/menu";
@import "pages/contacto";
@import "pages/pedido";

*{
    margin: 0px;
    /* MARGEN EXTERNO */
    padding: 0px;
    /* MARGEN INTERNO */
}

body {
    font-family: 'Crimson Pro', serif;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'roboto', cursive;
    color:  $color-secundario;
}

p {
    padding: 0 16px;
}

ul {
    list-style: none;
}












