.comidas__grid {
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pizza1 pizza2"
                         "pizza3 pizza4"
    ;
    column-gap: 5px;
    row-gap: 5px;

}

.scale-up-center {

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    
    }

.pizza1{
    @extend .background-centrado;
    grid-area: pizza1;
    background-image: url("../imagenes/pizza1.jpg");
    
    
}

.pizza2 {
    @extend .background-centrado;
    grid-area: pizza2;
    background-image: url("../imagenes/pizza2.jpg");
    

}

.pizza3 {
    @extend .background-centrado;
    grid-area: pizza3;
    background-image: url("../imagenes/pizza3.jpg");
    

}

.pizza4 {
    @extend .background-centrado;
    grid-area: pizza4;
    background-image: url("../imagenes/pizza4.jpg");
   

}